*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header, main, footer {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  header, main, footer {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  header, main, footer {
    max-width: 720px;
  }
}

@media ((min-width: 992px)) {
  header, main, footer {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  header, main, footer {
    max-width: 1140px;
  }
}